/* form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

button {
  margin-top: 10px;
  width: 100px;
} */

.container {
  display: flex;
  width: 900px;
  /* border: 2px solid blue; */
  margin: auto;
  margin-top: 40px;;
  height: 600px;
  box-shadow: 10px 10px;
}

.left {
  flex: 50%;
  width: 50%;
  /* border: 2px solid red; */
  height: 100%;
  background-color: #FFA8B6;
}

.puppies {
  width: 100%;
  
  opacity: 50%;
}

.pawPrint{
  width: 50%;
  margin: 96px;
}
.right {
  flex: 50%;
  width: 50%;
  padding-top: 60px;
  background-color: #A28089;
}

form, h1,h3 {
  text-align: center;
}
/* #51E2F5, #9DF9EF, #EDF7F6 */

input {
  height: 25px;
}